body {
    /* background-color: var(--one)!important; */
    background-color: var(--one) !important;
    color: var(--fifth) !important;
}

* {
    /* --one: #484444; */
    --one: #212428;
    --two: #fd0003;
    --three: #000000;
    --four: #940404;
    --fifth: white;
    --sixth: #c4cfde;
    color: var(--color-body);
    font-family: var(--font-primary);
    font-size: var(--font-size-b1);
    font-weight: var(--p-regular);
    line-height: var(--line-height-b1);
}

.Company-logo{
    height: 60px;
}

.card-img {
    padding: 20px;
    border-radius: 20px;
}

.bg-webcolor {
    /* background-color: #717171 !important; */
    background-color: var(--one);
    box-shadow: 5px 5px 5px 5px #2b2626;
}

.carousel-item {
    padding: 20px;
}

.carousel-row {
    padding: 20px;
}

.Card-div {
    margin-top: 20px;
    margin-top: 20px;
}

.CardCards {
    margin: 20px;
    background-color: #717171 !important;
    box-shadow: 5px 5px 5px 5px #888888;
}

/* .tab-content{
    background-color: #888888;
} */

.pcss3t-theme-1>label {
    background-color: #888888;

}

.header-text h4 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 15px;
}

.Carousel-heading {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Carousel-sub-heading {
    font-size: 16px;
    font-weight: 500;
}

.card img:hover {
    zoom: 50%;
    transition: 0.8s;
}

.timeline-body {
    box-shadow: 5px 5px 5px 5px #888888;

}

.page label {
    width: 200px;
    height: 65px;
}