body{
    background-color: var(--one) !important;
}
*{
    --one: #484444;
    --two: #fd0003;
    --three: #000000;
    --four: #940404 ;
    --fifth: white;
}
.card-img{
    padding: 20px;
    border-radius: 20px;
}

.bg-webcolor{
    background-color: #717171 !important;
    box-shadow: 5px 5px 5px 5px #2b2626;
}
.carousel-item{
    padding: 20px;
}
.carousel-row{
    padding: 20px;
}

.Card-div {
margin-top: 20px;
margin-top: 20px;
}
.CardCards{
    margin: 20px;
    background-color: #717171 !important;
    box-shadow: 5px 5px 5px 5px #888888;
}

.tab-content{
    background-color: #888888;
}
.pcss3t-theme-1 > label{
    background-color: #888888;

}